{% extends 'base.html'%}
{% block content %}
<body>
    <div class="container">
        <div class="all_forms">
            <p>{{resume.creator}}</p>
            <p>{{resume.description}}</p>
            {% if resume.pict %}
                <img src="{{ resume.pict.url }} " alt="Фото" width="300">
            {% else%}
                <p>no pict</p>  
            {% endif %}
            <form method="get" id="categoryForm">
                {{ filter_form.category.label_tag }}
                {{ filter_form.category }}
            </form>
            {% if attachment_form %}
                <form action="{% url 'attachment-create' resume.id category %}" method="post">
                    {% csrf_token %}
                    {{ attachment_form.as_p }}
                    <button type="submit">Додати</button>
                </form>
            {% endif %}
            {% for attachment in resume.attachments.all%}
                <div>
                    <a href="{% url 'attachment-details' resume.id attachment.id %}">
                        {{ attachment.get_category_display }}
                    </a>
                </div>
            {% endfor %}
            <form action="{% url 'resume-file-get' resume.id%}" method="get">
                {% csrf_token %}
                <button type="submit">Зберегти</button>
            </form>
            <form action="{% url 'resume-file-load' resume.id%}" method="get">
                {% csrf_token %}
                <button type="submit">Завантажити</button>
            </form>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="pdf">
            <iframe  src="{{resume.file_path}}" width="100%" height="100%" type="application/pdf"></iframe>
        </div>
    </div>
</body>
<!-- <iframe  src="https://mozilla.github.io/pdf.js/web/viewer.html?file=media/documents/admin.pdf" width="600" height="800" type="application/pdf"></iframe> -->
{% endblock %}
